* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    background-color: rgb(65, 64, 63);
}

h2, h3 {
    margin: 5px auto;
    width: fit-content;
    color: rgb(202, 202, 202);
}

#buttonSection {
    display: flex;
    margin: 4px auto;
    width: fit-content;
    justify-content: space-evenly;
    align-items: center;
}

#button {
    background-color: rgb(201, 200, 200);
    padding: 3px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(253, 244, 232);
    user-select: none;
}

#button:hover {
    background-color: rgb(180, 179, 179);
    border: 1px solid black;
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: column;
    background-image: url("./map.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: fit-content;
    margin: 0 auto;
    border: 3px solid rgb(128, 128, 128);
}

#container > div {
    display: flex;
}

#container > div > div {
    width: 5.8vmax;
    height: 5.8vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 247, 134);
    font-size: 3vmin;
    border: 1px solid transparent;
    font-weight: 700;
}

span {
    visibility: hidden;
    border: 1px solid rgb(247, 247, 134);
    padding: 3px;
    color: rgb(247, 247, 134);
}

p {
    width: fit-content;
    margin: 10px auto;
    color: rgb(202, 202, 202);
}
